
inter/sandbox/*
inter/production/*
oci-s3.php
certificado/certificado.php
assets/logo_empresa.*
certificado/*   
inter/config.php_old
dados.sql
estrutura.sql
dinovatech/assets/*
google/api-php-client/*
debug/*
custom_home/
custom_landing/